@page "/counter"
@using BlazorApp1.Models
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID</th>
            <th>Semenster</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>GPA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student student in studentLists)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.GetID()</td>
                    <td>@student.CurrentSemester</td>
                    <td>@student.DateOfBirth</td>
                    <td>@student.Gender</td>
                    <td>@student.GPA</td>
                    <td><button @onclick="() => SelectStudent(student)">Select</button></td>
                </tr>
            }
    </tbody>
    @if(TheSelectedStudent != null){
        <p>@TheSelectedStudent.FirstName</p>
        <p>@TheSelectedStudent.LastName</p>
        <p>@TheSelectedStudent.GetID()</p>
        <p>@TheSelectedStudent.CurrentSemester</p>
        <p>@TheSelectedStudent.DateOfBirth</p>
        <p>@TheSelectedStudent.Gender</p>
        <p>@TheSelectedStudent.GPA</p>
    }
</table>

@code {
    private int currentCount = 0;
    public StudentService studentService = new StudentService();
    public List<Student> studentLists = new List<Student>();
    public Student TheSelectedStudent = null;

    private void IncrementCount()
    {
        currentCount++;
    }
    protected override async Task OnInitializedAsync()
    {
        studentLists = studentService.GetAllStudents();
    }
    private void Reload(){
        studentLists = studentService.GetAllStudents();
    }
    private void SelectStudent(Student student){

    }
}
